
li{
    padding: 5px 30px 5px 30px;
}
p{
    padding: 5px 30px 5px 30px;
}
h2.Gameplay{
  padding: 20px 0px 10px 0px;
}

  h2{
    color:rgb(212, 75, 75);
    padding: 0px 0 10px 0px;
  }
  h3{
    padding: 10px 0px 10px 20px;
  }
  h4{
    padding: 10px 0px 0px 0px;
  }

.back{
    color:white;
    background: rgb(187, 70, 70);
}
.lista{
    position:relative;
    margin-left: 10%;
  

}
.lista ul.d{
  width: 50%;
  float: left;

}
.lista ul.b{
  width: 50%;
  float: right;
}

@media screen and (max-width: 750px) {
  .lista ul.d{
    width: 100%;
    float: left;
  
  }
  .lista ul.b{
    width: 100%;
    float: left;
  }
  
}
