
ul.d{
  float:left;
  list-style-type:square;
  padding: 10px 30px 10px 200px; 
}
ul.b{
  float:right;
}
@media only screen and (max-width: 1586px) {
  .responsive {
    width: 100%;
  }
}
li{
    padding: 5px 30px 5px 30px;
}
p{
    padding: 5px 30px 5px 30px;
}
h2.Gameplay{
  padding: 20px 0px 10px 0px;
}
ul.b{
  padding: 10px 30px 10px 1000px; 
}
  h2{
    color:rgb(212, 75, 75);
    padding: 0px 0 10px 0;
  }
  h3{
    padding: 10px 0px 10px 20px;
  }
  h4{
    padding: 10px 0px 0px 0px;
  }

.back{
    color:white;
    background: rgb(187, 70, 70);
}

