

ul.b{
    padding: 10px 30px 10px 30px; 
}
ul.e{
  list-style: square;
  padding: 10px 30px 10px 70px; 
}
ul.a{
    padding: 10px 30px 10px 50px;
}
li{
    padding: 5px 30px 5px 30px;
}
p{
    padding: 5px 30px 5px 30px;
}
  h2{
    color:rgb(189, 140, 44);
    padding: 10px 0 10px 0;
  }
  h3{
    color:rgb(255, 51, 61);
    padding: 10px 0px 10px 20px;
  }
  h4{
    color:rgb(57, 155, 180);
    padding: 10px 0px 0px 50px;
  }


  .slidershow{
    margin-top: 5%;
    width: 70%;
    height: 50%;
    overflow: hidden;
    margin-left:15%;
}

.back{
  color:rgb(243, 241, 241);
  background: rgb(189, 140, 44);
}