
  .Game{
    padding: 20px 30px 0px 30px;
  }


ul.b{
    padding: 10px 30px 10px 30px; 
}
li{
    padding: 5px 30px 5px 30px;
}
p{
    padding: 5px 30px 5px 30px;
}
  h2{
    color:rgb(240, 236, 24);
    padding: 0px 0 10px 0;
  }
  h3{
    
    color:rgb(10, 209, 209);
    padding: 10px 0px 10px 20px;
  }
  h4{
    padding: 10px 0px 0px 0px;
  }


  .slidershow{
    margin-top: 1%;
    width: 70%;
    height: 50%;
    overflow: hidden;
    margin-left:20%;
}

.back{

    color:rgb(2, 2, 2);
    background: rgb(240, 236, 24);
}