
  h2{
    color:rgb(201, 149, 6);
    padding: 20px 0 20px 0;
  }
  h3{
    color:rgb(65, 141, 141);
    padding: 10px 0px 10px 20px;
  }
  p{
    padding: 5px 30px 5px 30px;
}
p.a{
  padding: 70px 30px 5px 30px;
}

.back{

  color:rgb(15, 15, 15);
  background: rgb(201, 149, 6);
}